{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Sistema de Agendamento{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <ul id="menu">
        <li class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo2.png' %}" >
            </a>
        </li>
        <li><a href="{% url 'index' %}">Início</a></li>
        <li><a href="{% url 'sobre' %}">Sobre nós</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'listar-medico' %}">Meus Médicos</a></li>
            <li><a href="{% url 'listar-paciente' %}">Meus Pacientes</a></li>
            <li><a href="{% url 'listar-consulta' %}">Minhas Consultas</a></li>
            <li><a href="{% url 'senha' %}">Alterar senha</a></li>
            <li>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none;border:none;padding:0;color:#007bff;cursor:pointer;text-decoration:underline;">Sair</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'autenticar' %}">Entrar</a></li>
            <li><a href="{% url 'registrar' %}">Registrar</a></li>
        {% endif %}
    </ul>

    <div id="conteudo">
        {% block conteudo %}{% endblock %}
    </div>

    <div id="rodape">
        Desenvolvido por Isaac Milton e Adriel Davio
    </div>
</body>
</html>
