{% extends 'paginasweb/base.html' %}

{% block conteudo %}
    <div class="container">
        <div class="confirm-exclusao">
            <h2>Tem certeza que deseja excluir?</h2>
            <p>Você está prestes a excluir a especialidade "<strong>{{ especialidade.nome }}</strong>". Esta ação não pode ser desfeita.</p>

            <!-- Formulário de confirmação -->
            <form method="post" class="form-confirm">
                {% csrf_token %}
                <div class="buttons">
                    <button type="submit" class="btn-confirm">Sim, excluir</button>
                    <a href="{% url 'listar-especialidade' %}" class="btn-cancel">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
