{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

</head>
<body>

    <h3>Sobre</h3>

    <p>
        A disciplina de <b>Programação para Web</b> tem como objetivo apresentar os conceitos fundamentais 
        de desenvolvimento web, abrangendo tanto o front-end quanto o back-end. 
        Os alunos aprenderão a criar páginas web dinâmicas e interativas, utilizando tecnologias como 
        HTML, CSS, JavaScript e frameworks populares. Além disso, serão introduzidos aos princípios de 
        design responsivo e acessibilidade, visando garantir que as aplicações sejam funcionais e 
        agradáveis em diferentes dispositivos e para todos os usuários.
    </p>
    
</body>
</html>